<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Rainbow6</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color:blue">
        <a class="navbar-brand" href="#">
            <img src="/static/images/Logo.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
            Rainbow six siege
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/categorias">Categorias</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="/personajes">Personajes</a>
                  </li>
            <li class="nav-item">
              <a class="nav-link" href="/contacto">Contacto</a>
            </li>
          </ul>
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
          </nav>
        
    <div class="container" style="margin-top:80px;">
        <div class="row">
            <div class="col-sm">
                    <div class="card card-player" style="width: 18rem;">
                            <img src="./static/images/Sledge.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title"><img class="img-flag-logo" src="/static/images/SAS.jpg" width="30" height="30"> Seamus "Sledge" Cowden</h5>
                              <p class="card-text">Seamus Cowden es oriundo de la punta superior de Escocia. Debido a su imponente estatura física y atletismo, él encontró éxito temprano como el capitán de la Selección juvenil de rugby de Escocia. </p>
                            </div>
                            <ul class="list-group list-group-flush">
                              <li class="list-group-item">Nacionalidad Britanica</li>
                              <li class="list-group-item">Fecha de nacimiento 2 de abril de 1982</li>
                              <li class="list-group-item">Estatura 1.92M</li>
                              <li class="list-group-item">Peso 104KG</li>
                            </ul>
                            <div class="card-body">
                              <a href="https://rainbowsix.fandom.com/es/wiki/Sledge" class="card-link">Conoce mas</a>
                              </div>
                        </div>
            </div>
            <div class="col-sm">
                <div class="card card-player" style="width: 18rem;">
                    <img src="/static/images/Montagne.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"> <img class="img-flag-logo" src="/static/images/GIGN.jpg"> Gilles "Montagne" Touré </h5>
                        <p class="card-text">Hijo de un oficial del ejército y maestro de escuela, su familia vivía cerca de Burdeos, Francia. Unos años después de graduarse de la escuela secundaria, se convirtió en miembro de la Gendarmería Nacional. Como oficial de policía, Touré ha dedicado su vida al trabajo de defensa </p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Nacionalidad Francesa</li>
                        <li class="list-group-item">Fecha de nacimiento 11 de octubre de 1968</li>
                        <li class="list-group-item">Estatura 1.90M</li>
                        <li class="list-group-item">Peso 100KG</li>
                    </ul>
                    <div class="card-body">
                        <a href="https://rainbowsix.fandom.com/es/wiki/montagne" class="card-link">Conoce mas</a>
                    </div>
                </div>
            </div>

            <div class="col-sm">
                <div class="card card-player" style="width: 18rem;">
                    <img src="/static/images/Tacher.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"> <img class="img-flag-logo" src="/static/images/SAS.jpg"> Mike "Thatcher" Baker </h5>
                        <p class="card-text">Nacido en el seno de una familia de estibadores, Baker entro en el servicio activo el dia que cumplio 18 años. Veterano de tres guerras, Baker era el agente en activo de la SAS de mayor edad cuando fue reclutado por Rainbow. </p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Nacionalidad Britanica</li>
                        <li class="list-group-item">Fecha de nacimiento 22 de junio de 1961</li>
                        <li class="list-group-item">Estatura 1.80M</li>
                        <li class="list-group-item">Peso 72KG</li>
                    </ul>
                    <div class="card-body">
                        <a href="https://rainbowsix.fandom.com/es/wiki/Thatcher" class="card-link">Conoce mas</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm">
                <div class="card card-player" style="width: 18rem;">
                    <img src="/static/images/smoke.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"> <img class="img-flag-logo" src="/static/images/SAS.jpg"> James "Smoke" Porter  </h5>
                        <p class="card-text">Porter es un amante de la adrenalina con muy poca consideración por su seguridad personal. Es valiente en la batalla y puede ser una gran ventaja en maniobras defensivas, sin embargo parece disfrutar del caos y la destrucción demasiado. Utiliza una mina de control remoto llena de una toxina desconocida para impedir avances hostiles. </p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Nacionalidad Britanica</li>
                        <li class="list-group-item">Fecha de nacimiento 14 de mayo de 1995</li>
                        <li class="list-group-item">Estatura 1.73M</li>
                        <li class="list-group-item">Peso 70KG</li>
                    </ul>
                    <div class="card-body">
                        <a href="https://rainbowsix.fandom.com/es/wiki/Smoke" class="card-link">Conoce mas</a>
                    </div>
                </div>
            </div>

            <div class="col-sm">
                <div class="card card-player" style="width: 18rem;">
                    <img src="/static/images/Twitch.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"> <img class="img-flag-logo" src="/static/images/GIGN.jpg"> Emmanuelle "Twitch" Pichon  </h5>
                        <p class="card-text">Nacida en la histórica ciudad de Nancy, Pichon creció en una familia que valoraba la educación, particularmente las matemáticas y la ciencia. La temprana participación en competencias de programación patrocinada la llevó a unirse a los cadetes del ejército a los dieciséis años. </p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Nacionalidad Francesa</li>
                        <li class="list-group-item">Fecha de nacimiento 12 de octubre de 1988</li>
                        <li class="list-group-item">Estatura 1.68M</li>
                        <li class="list-group-item">Peso 58KG</li>
                    </ul>
                    <div class="card-body">
                        <a href="https://rainbowsix.fandom.com/es/wiki/Twitch" class="card-link">Conoce mas</a>
                    </div>
                </div>
            </div>

            <div class="col-sm">
                <div class="card card-player" style="width: 18rem;">
                    <img src="/static/images/Mute.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"> <img class="img-flag-logo" src="/static/images/SAS.jpg">Mark "Mute" Chandar </h5>
                        <p class="card-text">Un veterano de la unidad de cuartel general de comunicaciones del gobierno (GCHQ) de Britain, obra excepcional de Mark Chandar como especialista en inteligencia (sigint) señales le ha hecho un valioso aporte al escuadrón rainbow.  </p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Nacionalidad Britanica</li>
                        <li class="list-group-item">Fecha de nacimiento 11 de octubre de 1991</li>
                        <li class="list-group-item">Estatura 1.70M</li>
                        <li class="list-group-item">Peso 80KG</li>
                    </ul>
                    <div class="card-body">
                        <a href="https://rainbowsix.fandom.com/es/wiki/Mute" class="card-link">Conoce mas</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <div class="card card-player" style="width: 18rem;">
                    <img src="/static/images/Ash.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"> <img  class="img-flag-logo" src="/static/images/FBI.jpg"> Eliza "Ash" Cohen</h5>
                        <p class="card-text">Nacida y criada en Jerusalén, Israel, Cohen se matriculó en la Universidad de Tel Aviv después de la escuela secundaria en el programa de ingeniería. Fue durante este tiempo que hizo un semestre en el extranjero en la Universidad de Boston. Después de la universidad, se alistó en las Fuerzas de Defensa de Israel. </p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"> Nacionalidad Estado Unidense</li>
                        <li class="list-group-item">Posición Atacante</li>
                        <li class="list-group-item">Estatura 1.70M</li>
                        <li class="list-group-item">Peso 63KG</li>
                    </ul>
                    <div class="card-body">
                        <a href="https://rainbowsix.fandom.com/es/wiki/Sledge" class="card-link">Conoce mas</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>                         
</body>
</html>