body {
    background: url('/static/images/676369.jpg') no-repeat;
    background-color: #131313;
}

.img-flag-logo{
    width: 30px;
    height: 30px;
}

.card-player {
    margin-top: 25px;
    margin-bottom: 10px;
    background: #ddd;
}

.card-player .list-group .list-group-item {
    background: none;
}

.nav-item:hover {
    background: #dda32b;
}

.nav-item .nav-link:hover{
    color: #fff !important;
}